<div class="inner-chat-window">
  <div class="messages-window" #messagesElem>
    <div *ngIf="selectedChat">
      <div *ngFor="let message of messages" class="panel panel-default">
        <div class="panel-body">
          <p><strong>{{message.author}}</strong> @ {{message.created_at | date:"MMM, dd H:mm"}} wrote:</p>
          {{message.text}}
        </div>
      </div>
    </div>
  </div>
  <div class="input-message-container">
    <form (ngSubmit)="submitMessage()" class="form-new-message" #f="ngForm" novalidate>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Type your message..." [(ngModel)]="model.text" #text="ngModel" name="text" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="submitMessage()">
            <span class="glyphicon glyphicon-share-alt"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
